
*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	line-height: 50px;
	}
.main{
	max-width: 960px;
	margin: auto;
}
header {
	display: flex;
	position: relative;
}
.logo{
	width: 30%;
	background-color: black;
	height: 100px;
	transition: 1.5s;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

}
.imagen{
	width: 40%;
	background-color: #ADFF2F;
	height: 100px;
	position: absolute;
	left:  30%;
	transition: 2s;
}
.nav{
	width: 30%;
	background-color: #FF6347;
	height: 100px;
	position: absolute;
	left: 70%;
	transition: 1s;
	top: 0;
}
.contenedor{
	width: 70%;
	height: 300px;
	padding: 30px;
	display: inline-block;
	margin-top: 0;
	transition: 2s;
}
.aside{
	width: 30%;
	height: 300px;
	background: yellow;
	display: inline-block;
	vertical-align: top;
	transition: 3s;
}
footer{
	width: 100%;
	height: 100px;
	background-color: blue;
}

@media screen and (max-width: 800px){
	.imagen{
		top: 100px;
		left: 70%;
		background-color:#008000;
	}
	.logo{
		width: 70%;
	}
}
@media screen and (max-width: 700px){
	.nav{
		top: 100px;
		left: 0%;
		width: 70%;
		background-color: 	#FF0000;
	}
	.logo{
		width: 100%;
	}
	.contenedor{
		margin-top: 100px;
	}
	.aside{
		height: 400px;
	}
}
@media screen and (max-width: 610px){
	
.nav{
		top: 100px;
		left: 0%;
		width: 100%;
	}
	.imagen{
		top: 200px;
		left: 0%;
		width: 100%;
		background-color:#ADFF2F;
	}
	.logo{
		background-color: #708090;
	}
	
}
@media screen and (max-width: 550px){
	
	
	.contenedor{
		margin-top: 200px;
		width: 100%;
		display: block;
		height: auto;
	}
	.aside{
		height: 100px;
		width: 100%;
	}
}
@media screen and (max-width: 450px){
	
	.logo{
		height: auto;
	}
	.nav,.imagen,.aside{
		height: 200px;
	}
	.contenedor{
		margin-top: 300px;
	}
	.nav{
		top: 200px;
		
	}
}
@media screen and (max-width: 380px){
	
	
	header{
		display: block;
	}
	.imagen{
		display: none;
	}
	.nav{
		top:150px;

	}
	.contenedor{
		margin-top: 200px;
	}
}